@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond|Open+Sans:300,400,600|Rubik&display=swap&subset=cyrillic");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?vbn8uo");
  src: url("../fonts/icomoon.eot?vbn8uo#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?vbn8uo") format("truetype"), url("../fonts/icomoon.woff?vbn8uo") format("woff"), url("../fonts/icomoon.svg?vbn8uo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basket:before {
  content: "\e900";
}

.icon-facebook:before {
  content: "\e901";
}

.icon-favorite:before {
  content: "\e909";
}

.icon-instagram:before {
  content: "\e908";
}

.icon-youtube:before {
  content: "\e907";
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

/*===========================Variables===========================*/
/*==========================Mixins================================*/
/*=========================Body==================================*/
.center {
  max-width: 1266px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 24px;
}

body a:hover {
  text-decoration: none;
}

.responive-img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.img-container {
  display: inline-block;
  vertical-align: top;
}

/*========================Header====================================*/
.about {
  background: #f3f3f3;
  padding: 6px 0;
  color: #333740;
}

.about .about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-wrapper .about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about-wrapper .about-list li {
  margin: 0 18px 0 0;
}

.about .about-wrapper .about-list a,
.about .about-wrapper .text-desc {
  color: #333740;
}

.about .about-wrapper .text-desc {
  text-align: right;
}

.logo-section {
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-section .lang-curr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-section .lang-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px 0px 0;
  margin: 0 18px 16px 0;
  border-right: 2px solid rgba(0, 0, 0, 0.05);
}

.logo-section .lang-list::after {
  content: '';
  display: inline-block;
  vertical-align: top;
}

.logo-section .lang-list li {
  margin: 0 10px 0 0;
  min-height: 23px;
}

.logo-section .lang-list li:hover a {
  color: #1a1a18;
  border-bottom: 2px solid #1a1a18;
}

.logo-section .lang-list a {
  color: #5e5e5e;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
}

.logo-section .cerrency {
  min-height: 23px;
  text-transform: uppercase;
}

.logo-section .cerrency::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 3px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0 0 0 6px;
}

.logo-section .logo-container {
  max-width: 25%;
  width: 100%;
  padding: 0 0 0 34px;
}

.logo-section .logo-container a {
  max-width: 214px;
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: top;
}

.logo-section .logo-container img {
  width: 100%;
  height: auto;
}

.buy-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 -13px 0;
  padding: 20px 0 0;
}

.buy-list li {
  border-right: 2px solid rgba(0, 0, 0, 0.05);
  padding: 0 10px;
}

.buy-list li:last-child {
  border: none;
}

.buy-list li a {
  display: inline-block;
  vertical-align: top;
  color: #000;
}

.buy-list li .counter {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 16px;
  margin: 0 8px 0 0;
}

.buy-list li .icon-basket {
  font-size: 25px;
  line-height: 25px;
}

.buy-list li .icon-favorite {
  font-size: 22px;
  line-height: 22px;
}

.nav-section {
  background: #1a1a18;
}

.nav-section .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-section .nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav-section.top-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-section .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -16px 0;
}

.nav-section .nav-menu li {
  text-transform: uppercase;
}

.nav-section .nav-menu li:hover {
  background: #3c3c3a;
}

.nav-section .nav-menu a {
  color: #cfcfcf;
  display: inline-block;
  vertical-align: top;
  padding: 9px 16px;
}

.nav-section .form-container {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.nav-section .form-container .search {
  background: none;
  border: none;
  color: #fff;
  text-align: right;
  padding: 0 6px;
  width: 300px;
  min-height: 42px;
}

.nav-section .form-container .search:focus {
  background: #3c3c3a;
  text-align: left;
}

.nav-section .form-container .search:focus::-webkit-input-placeholder {
  color: #3c3c3a;
}

.nav-section .form-container .search:focus:-ms-input-placeholder {
  color: #3c3c3a;
}

.nav-section .form-container .search:focus::-ms-input-placeholder {
  color: #3c3c3a;
}

.nav-section .form-container .search:focus::placeholder {
  color: #3c3c3a;
}

.nav-section .form-container .fa-search {
  font-size: 20px;
  line-height: 20px;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  vertical-align: middle;
}

.nav-section .form-container.hide {
  display: none;
}

.nav-section .burger-menu-wrapp {
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-section .burger-menu-wrapp .burger {
  width: 20px;
  height: 3px;
  color: #fff;
}

.nav-section .top-fixed .buy-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-section .buy-list {
  padding: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: none;
}

.nav-section .buy-list .counter {
  color: #cfcfcf;
}

.nav-section .buy-list .icon {
  color: #fff;
}

.banner-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 0;
  margin: 0 0 96px;
}

.banner-section::after {
  content: '';
  display: table;
  clear: both;
}

.banner-section .banner-carousel {
  max-width: 43.5%;
}

.banner-section .banner-carousel a {
  vertical-align: top;
  width: auto;
  position: relative;
  z-index: 1;
}

.banner-section .banner-carousel a::after {
  content: '';
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 21px solid rgba(255, 255, 255, 0.45);
  z-index: -1;
}

.banner-section .banner-carousel img {
  padding: 0 22% 0;
}

.banner-section .section-desc {
  background: url(../img/banner_section_bg.jpg) no-repeat;
  background-size: cover;
  padding: 31.6% 0 0;
  width: 56.5%;
  position: relative;
  margin: 3% 0 0;
}

.banner-section .dots-wrap {
  position: absolute;
  bottom: 83%;
  left: 7%;
}

.banner-section .dots-wrap .slick-current .img-container {
  position: relative;
}

.banner-section .dots-wrap .slick-current .img-container::after {
  content: '';
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.45);
  opacity: 1;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.banner-section .dots-wrap .img-container {
  margin: 0 36px 0 0;
}

.banner-section .description {
  position: absolute;
  top: 39%;
  left: 7%;
}

.description {
  padding: 0 0 0 2px;
}

.description a {
  color: #000;
}

.description .title {
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0 0 15px;
  padding: 0 0 5px;
}

.description .title::before {
  content: '';
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 100%;
  left: 2px;
  width: 92px;
  height: 2px;
  background: #000;
  -webkit-transition: .2s;
  transition: .2s;
}

.description .sub-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #5e5e5e;
}

.description:hover .title::before {
  -webkit-transform: translateX(10%) scaleX(1.2);
          transform: translateX(10%) scaleX(1.2);
}

.second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-section .img-container {
  -webkit-box-flex: 2;
      -ms-flex: 2 1;
          flex: 2 1;
  max-width: 35%;
}

.second-section .decriptiob-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  min-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 20px 22px 24px;
}

.second-section .decriptiob-container .sub-title {
  color: #a8a8a8;
}

.second-section .decriptiob-container .right {
  text-align: right;
}

.second-section .decriptiob-container .right .title {
  margin: 0 0 16px;
  padding: 0px 0 10px;
}

.second-section .decriptiob-container .left .title {
  padding: 0 0 9px;
  margin: 0 0 12px;
}

.second-section .decriptiob-container .description.right .title::before {
  right: 2px;
  left: initial;
}

.second-section .decriptiob-container .description.right:hover .title::before {
  -webkit-transform: translateX(-10%) scaleX(1.2);
          transform: translateX(-10%) scaleX(1.2);
}

.second-section .decriptiob-container .logo-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0 18px;
}

.second-section .decriptiob-container .logo-container a {
  display: block;
  width: 125px;
  height: auto;
}
/*# sourceMappingURL=main.css.map */