$content-width: 1266px;
$head-foot-main-bg-color:#f3f3f3;
$base-text-color: #000;
$nav-copy-bg-color: #1a1a18;
$secondary-text-color: #333740;
$separator-color: #818181;
$base-font: 'Open Sans',
sans-serif;
$title-font: 'Cormorant Garamond',
serif;
$underline-mobile-menu: 1px solid #dcdcdc;